{% extends 'base.html' %}
{% if erreur %}
{{erreur}}
{%endif%}
{% block content %}
        <div class="font-semibold text-2xl text-center pb-6 px-24">
            <h2>Salut</h2>
            <p>Ici tu trouveras un tas d'annonce pour participer à de nouvelles activités. Inscrit toi pour publier tes propres activités</p>
            <br>
        </div>

        <section class="grid grid-cols-4 grid-rows-2 gap-20 p-5">
             {% for annonce in annonces %}
                <article class="bg-white shadow-xl border-emerald-200 border-solid border-2 rounded-lg p-3">
                    <h2 class="text-lg text-center pb-1" >Annonce</h2>
                    <div class="px-6"><hr></div>
                    <p class="pt-4">{{annonce["Titre"]}}</p>
                    <p class="flex justify-end pt-2 text-sm">{{annonce["Description"]}}</p>
                </article>
            {% endfor %}
        </section>
{% endblock %}


 